body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.carAttr {
  background-color: rgb(229, 239, 86);
  border: #00B7FF;
  width: 120px;
  }
  